/*****************Tag Selectors*****************/
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgb(2, 121, 115);
    background-color: #e2f4f5;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #52b7b7;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top,
            #2ab0ed 0%,
            #9fd8ef 50%,
            #9fd8ef 51%,
            #2ab0ed 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #52b7b7;
    background-image: -webkit-linear-gradient(top,
            #52b7b7 0%,
            #69f2f2 50%,
            #69f2f2 51%,
            #52b7b7 100%);
}

body {
    margin: 0px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h1 {
    font-family: 'Kalam', cursive;
    font-size: 500%;
    color: #52b7b7;
}

h2 {
    font-family: 'Kalam', cursive;
    color: #52b7b7;
    font-size: 450%;
}

h3 {
    color: #11999E;
    font-size: 200%;
}

h4 {
    color: #117b9e;
    font-size: 130%;
}

a {
    text-decoration: none;
}

/*************************************************/
/*****************Class Selectors*****************/

.top-container {
    background-color: #CBF1F5;
    position: relative;
    padding-top: 7%;
    padding-bottom: 1%;
    z-index: 0;
}

.middle-container {
    background-color: #e6f8f8;
    padding-top: 7%;
    padding-bottom: 7%;
    position: relative;
    z-index: 1;
}

.bottom-container {
    background-color: #66BFBF;
    padding-top: 7%;
    padding-bottom: 7%;
    position: relative;
    z-index: 1;
}

/*************************************************/
/*****************Top Links Line*****************/


.top-links {
    position: absolute;
    top: 1%;
    width: 100%;
}

.top-left-links {
    position: absolute;
    left: 5%;
}

.top-right-links {
    position: absolute;
    right: 3%;
    margin-top: 2%;
}

.top-link-imgs {
    width: 75px;
    margin: 2px;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5;
    border-radius: 100%;
}

.top-link-imgs:hover {
    /*border: 2px solid white;*/
    background-color: #52b7b7;
}

.upper-link-btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #CBF1F5;
    padding: 8px;
    margin: 5px;
    border: solid #ffffff 3px;
    font-weight: bold;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.upper-link-btn:hover {
    background: #52b7b7;
}

/*************************************************/
/*****************Intro Part*****************/

.top-right-cloud {
    position: fixed;
    right: 20%;
    top: 15%;
    z-index: -1;
}

.top-left-cloud {
    position: fixed;
    left: 20%;
    top: 35%;
    z-index: -1;
}

.headline {
    font-size: 450%;
    margin: 0 auto;
    font-weight: normal;
    background-image: radial-gradient(circle, rgba(82, 183, 183, 1) 0%, rgba(148, 221, 233, 1) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.headline-name {
    font-size: 115%;
    font-weight: bold;
}

.arrow-gif {
    width: 8%;
    position: absolute;
    bottom: 0;
    right: 5%;
}

.finger-gif {
    width: 5%;
    position: absolute;
    bottom: 0;
    right: 48%;
}

.right-middle-cloud {
    position: absolute;
    width: 12%;
    right: 15%;
    top: 5%;
}

.left-middle-cloud {
    position: absolute;
    width: 12%;
    left: 15%;
    top: 5%;
}

.profile-img {
    height: 260px;
    width: 230px;
    border-radius: 25%;
    /*border: 2px solid rgb(227, 200, 200);*/
}

.code-gif {
    height: 120px;
    width: 120px;
}

.project-link-img {
    width: 3%;
    margin: 0 2% 0 2%;
}

.project-img {
    width: 25%;
    border-radius: 10%;
}

.project-img-odd {
    float: left;
    margin-right: 30px;
}

.project-img-even {
    float: right;
    margin-left: 30px;
}

.project-link {
    text-decoration: none;
}

.project-headline {
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.project-headline:hover {
    color: #9b78d0;
}

.dotted-hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(205, 202, 202);
    border-width: 10px;
    width: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}


.project-row {
    width: 65%;
    margin: 10% auto 10% auto;
    text-align: left;
    line-height: 200%;
    font-size: 120%;
}

.project-odd-row-inner-bullet {
    margin-left: 32%;
}

.get-in-touch-title {
    margin-bottom: 0;
}

.get-in-touch-gif-img {
    width: 10%;
}

.contact-me-img {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 4%;
}

.contact-btn {
    background: #17baaf;
    background-image: -webkit-linear-gradient(top, #17baaf, #74dee8);
    background-image: -moz-linear-gradient(top, #17baaf, #74dee8);
    background-image: -ms-linear-gradient(top, #17baaf, #74dee8);
    background-image: -o-linear-gradient(top, #17baaf, #74dee8);
    background-image: linear-gradient(to bottom, #17baaf, #74dee8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
}

.contact-btn:hover {
    background: #65b5e6;
    background-image: -webkit-linear-gradient(top, #65b5e6, #3498db);
    background-image: -moz-linear-gradient(top, #65b5e6, #3498db);
    background-image: -ms-linear-gradient(top, #65b5e6, #3498db);
    background-image: -o-linear-gradient(top, #65b5e6, #3498db);
    background-image: linear-gradient(to bottom, #65b5e6, #3498db);
}

.footer-link-btn {
    margin: auto 20px auto 20px;
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #11999E;
    font-size: 20px;
    padding: 10px 25px 10px 25px;
    font-weight: bold;
}

.footer-link-btn:hover {
    background: #c3dceb;
    background-image: -webkit-linear-gradient(top, #c3dceb, #7bbce8);
    background-image: -moz-linear-gradient(top, #c3dceb, #7bbce8);
    background-image: -ms-linear-gradient(top, #c3dceb, #7bbce8);
    background-image: -o-linear-gradient(top, #c3dceb, #7bbce8);
    background-image: linear-gradient(to bottom, #c3dceb, #7bbce8);
    font-size: 21px;
}

.sliding-dot-img {
    width: 5%;
    margin: 0 5%;
}

.credits {
    margin-top: 5%;
    color: white;
    font-size: 150%;
}

/*.mountain {
}*/

/**********************************************/
/*****************ID Selectors*****************/